@import "../../common/colors.less";

.day {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  height: 120px;
  border-left: solid 1px @borderColor;
  cursor: pointer;
  transition: all .2s;
  padding: 5px 5px;

  &:hover {
      background: @ltGrey;
  }

  &:first-child {
      border-left:none;
  }

  &.today {
      background: @ltSecondary;
  }

  &.different-month {
      color: @mdGrey;
  }

  &.selected {
      background: @secondary;
      color: @white;
  }

  &.weekend {
      color: @dkSecondary;
      background-color: @ltGrey;
  }
}