@import '../../common/colors.less';

.day {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  height: 130px;
  border-left: solid 1px @borderColor;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px 5px;
  overflow: hidden;

  &:hover {
    background: @ltGrey;
  }

  &:first-child {
    border-left: none;
  }

  &.today {
    background: @ltSecondary;
  }

  &.different-month {
    color: @mdGrey;
  }

  &.selected {
    //   background: @secondary;
    //   color: @white;
  }

  &.weekend {
    color: @dkSecondary;
    background-color: @ltGrey;
  }

  .reminder {
    height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.orange {
      background-color: orangered;
    }

    &.blue {
      background-color: #0080f7;
      color: @white;
    }

    &.yellow {
      background-color: #f7b100;
    }

    &.grey {
      background-color: @dkGrey;
    }

    &.pink {
      background-color: #d640ff;
    }

    &.green {
      background-color: #2abd5b;
    }

    &.red {
      background-color: #f21f1f;
      color: @white;
    }
  }
}
